@model PagedList.IPagedList<Model.EF.Product>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Sản phẩm</h2> <hr />
<div>
    <div style="display:flex;">
        <div style="width:100px;height:100px;">
            <h3>Samsung A51</h3>
            <img src="~/Assets/client/images/a51.jpg" />
        </div>
        <div style="width:100px;height:100px;margin-left:20px;">
            <h3>Samsung A31</h3>
            <img src="~/Assets/client/images/a31.png" />
        </div>
        <div style="width:120px;height:100px;margin-left:20px;">
            <h3>Rog Strix G531</h3>
            <img src="~/Assets/client/images/lap1.jpg" />
        </div>
        <div style="width:120px;height:100px;margin-left:20px;">
            <h3>Rog Strix G531</h3>
            <img src="~/Assets/client/images/lap2.png" />
        </div>
        <div style="width:120px;height:100px;margin-left:20px;">
            <h3>Rog Strix G531</h3>
            <img src="~/Assets/client/images/lap3.jpg" />
        </div>
        <div style="width:120px;height:100px;margin-left:20px;">
            <h3>Rog Strix G531</h3>
            <img src="~/Assets/client/images/lap4.jpg" />
        </div>



    </div>
    <br />
 
    
</div>

